
.content .mainNewsList {
    width: 1000px;
    height: 480px;
    margin-top: 20px;
}

.content .mainNewsList .mainNewsContent {
    width: 500px;
    height: 180px;
    float: left;
    list-style: none;
    margin: 0 auto;
}

.content .mainNewsList .mainNewsContent .teamNameFirst{
    width: 450px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid #4d4d4d;
    border-left: 3px solid #4d4d4d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content .mainNewsList .mainNewsContent .teamNameFirst .teamName {
    width: 400px;
    height: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .mainNewsList .mainNewsContent .teamNameFirst .moreTeamNews {
    width: 45px;
    height: 30px;
    line-height: 30px;
    float: right;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content .mainNewsList .mainNewsContent .teamNewsTitle {
    width: 450px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}