.content .teamTitle {
    width: 1000px;
    height: 130px;
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
}

.content .teamTitle .teamIcon {
    width: 300px;
    height: 130px;
    text-align: center;
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .teamTitle .teamIcon img {
    width: 130px;
    height: 130px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .teamTitle .teamInfo {
    width: 700px;
    height: 130px;
    display: inline-block;
    float: right;
    text-align: left;
    font-weight: bold;
    margin: 10px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .listButton {
    width: 1000px;
    height: 40px;
    margin: 10px auto;
}

.content .listButton .buttonList {
    width: 1000px;
    height: 40px;
}

.content .listButton .buttonList li {
    float: left;
    border: 1px solid #49494a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.content .listButton .buttonList .list1 {
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.content .listButton .buttonList .list2 {
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.content .coreContent .teamPlayer {
    width: 1000px;
    text-align: center;
    margin: 10px auto;
}

.content .coreContent .teamPlayer div ul .playerList {
    width: 100px;
    height: 100px;
    margin-left: 84px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer div ul .playerList .playerNumber {
    width: 61px;
    height: 61px;
    line-height: 60px;
    background: url("/images/programpic/tubiao.png");
    background-position: -230px, -8px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer div ul .playerList .playerName {
    width: 61px;
    height: 39px;
    line-height: 40px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .forward {
    width: 1000px;
    margin: 10px auto;
    padding-top: 40px;
    float: left;
}

.content .coreContent .teamPlayer .forwardTitle {
    width: 198px;
    float: left;
    border-right: 1px solid #4f4f4f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .forwardContent {
    width: 800px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .midfielder {
    width: 1000px;
    margin: 10px auto;
    float: left;
}

.content .coreContent .teamPlayer .midfielderTitle {
    width: 198px;
    float: left;
    border-right: 1px solid #4f4f4f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .midfielderContent {
    width: 800px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .back {
    width: 1000px;
    margin: 10px auto;
    float: left;
}

.content .coreContent .teamPlayer .backTitle {
    width: 198px;
    float: left;
    border-right: 1px solid #4f4f4f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .backContent {
    width: 800px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .goalkeeper {
    width: 1000px;
    margin: 10px auto;
    float: left;
}

.content .coreContent .teamPlayer .goalkeeperTitle {
    width: 198px;
    float: left;
    border-right: 1px solid #4f4f4f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamPlayer .goalkeeperContent {
    width: 800px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamVersus {
    width: 1000px;
    text-align: center;
    margin: 10px auto;
}

.content .coreContent .teamVersus .versusTitle {
    width: 1000px;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .coreContent .teamVersus .versusContent {
    width: 1000px;
    margin: 30px auto;
}

.content .coreContent .teamVersus .versusContent table {
    width: 1000px;
    text-align: center;
}

.content .coreContent .teamVersus .versusContent table tr td {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}