<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysportscenter.potal.dao.LoginDataDao">
    <select id="getExistById" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM LOGINDATA WHERE ID = #{id}
    </select>
    <select id="getLoginDataByUsernameAndPassword" parameterType="String" resultType="com.mysportscenter.potal.entity.LoginData">
        SELECT * FROM LOGINDATA WHERE USERNAME = #{username} AND PASSWORD = #{password}
    </select>
    <insert id="saveNewUser" parameterType="com.mysportscenter.potal.entity.LoginData">
        INSERT INTO LOGINDATA VALUES(#{id}, #{version}, #{username}, #{password}, #{createDatetime}, #{lastUpdateDatetime}, #{custom1}, #{custom2}, #{custom3}, #{custom4}, #{custom5})
    </insert>
</mapper>