<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysportscenter.dao.PicCenterDao">
    <select id="selectTop5Pic" resultType="com.mysportscenter.javabeans.PicCenter">
        SELECT * FROM PICCENTER ORDER BY UPDATE_TIME DESC LIMIT 0, 5
    </select>
</mapper>