<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysportscenter.dao.TeamNewsDao">
    <select id="selectTop6TeamNewsAndLogoPath" resultMap="TeamNewsAndLogo">
        SELECT B.*,A.TEAM_LOGO_PATH FROM TEAMINFORMATION A INNER JOIN TEAMNEWS B ON A.ID = B.REF_KEY_FOR_TEAM
ORDER BY A.RANKING, B.UPDATE_TIME DESC LIMIT 0, 60
    </select>
    <resultMap id="TeamNewsAndLogo" type="com.mysportscenter.javabeans.TeamNews">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="news_title" property="newsTitle" />
        <result column="news_content" property="newsContent" />
        <result column="ref_key_for_team" property="refKeyForTeam" />
        <result column="ref_key_for_person" property="refKeyForPerson" />
        <result column="update_time" property="updateTime" />
        <result column="custom1" property="custom1" />
        <result column="custom2" property="custom2" />
        <result column="custom3" property="custom3" />
        <result column="custom4" property="custom4" />
        <result column="team_logo_path" property="teamLogoPath" />
    </resultMap>
    <select id="selectAllTeamNewsAndLogoPathTop5ById" parameterType="String" resultMap="TeamNewsAndLogo">
        SELECT B.*,A.TEAM_LOGO_PATH FROM TEAMINFORMATION A INNER JOIN TEAMNEWS B ON A.ID = B.REF_KEY_FOR_TEAM
        WHERE ID = #{id}
        ORDER BY B.UPDATE_TIME DESC LIMIT 0, 5
    </select>
</mapper>