<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysportscenter.dao.TeamVideoDao">
    <select id="getAllTeamVideoByTeamId" parameterType="String" resultType="com.mysportscenter.javabeans.TeamVideo">
        SELECT * FROM TEAMVIDEO WHERE REF_KEY_FOR_TEAM = #{id}  ORDER BY UPDATE_TIME DESC
    </select>
    <select id="getTeamVideoById" parameterType="String" resultType="com.mysportscenter.javabeans.TeamVideo">
        SELECT * FROM TEAMVIDEO WHERE ID = #{id}  ORDER BY UPDATE_TIME DESC
    </select>
    <select id="selectAllTeamVideoAndLogoPathTop5ById" parameterType="String" resultType="com.mysportscenter.javabeans.TeamVideo">
        SELECT B.*,A.TEAM_LOGO_PATH FROM TEAMINFORMATION A INNER JOIN TEAMVIDEO B ON A.ID = B.REF_KEY_FOR_TEAM
        WHERE A.ID = #{id}
        ORDER BY B.UPDATE_TIME DESC LIMIT 0, 5
    </select>
</mapper>