<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysportscenter.dao.TeamPlayerDao">
    <select id="getTeamPlayerByTeamId" parameterType="String" resultType="com.mysportscenter.javabeans.TeamPlayer">
        SELECT * FROM TEAMPLAYER WHERE REF_KEY_FOR_TEAM = #{id} ORDER BY PLAYER_LOCATION_IN_TEAM DESC
    </select>
</mapper>