.popReply {
    width: 500px;
    height: 300px;
    position: fixed;
    z-index: 999;
    background-color: #d5d7d7;
    left: 33%;
    top: 22%;
    border: 1px solid #555555;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px #555555;
}
.popReply .replyTitle {
    width: 500px;
    height: 60px;
}
.popReply .replyTitle h3 {
    width: 450px;
    height: 60px;
    line-height: 60px;
    color: #236ddc;
    padding-left: 15px;
    display: inline-block;
    float: left;
}
.popReply .replyTitle .shutButton {
    width: 10px;
    height: 60px;
    float: left;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.popReply .replyTitle .shutButton:hover::before,.popReply .replyTitle .shutButton:hover::after {
    background: #1ebcc5;
}
.popReply .replyTitle .shutButton::before, .popReply .replyTitle .shutButton::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}
.popReply .replyTitle .shutButton::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popReply .replyTitle .shutButton::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.popReply .replyTheme {
    width: 500px;
    height: 30px;
    font-size: 20px;
    padding-left: 15px;
    line-height: 30px;
}
.popReply .replyContentArea {
    width: 470px;
    height: 170px;
    margin: 0 auto;
}
.popReply .replyContentArea textarea{
    width: 470px;
    height: 170px;
    resize: none;
}
.popReply .replySubmit {
    margin: 5px auto;
    width: 500px;
    height: 30px;
}
.popReply .replySubmit .submitButton{
    margin-top: 2px;
    margin-left: 15px;
    width: 50px;
    height: 25px;
    background-color: #3e99ef;
    border: 1px solid #3e99ef;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}