* {
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../images/programpic/mainbgp.jpg");
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
a:hover{
    color: #ca0022;
}
a:visited{
    color: #ca0022;
}
.fixedmenu{
    width: 100%;
    height: 30px;
    line-height:30px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 9999;
}
.fixed{
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0);
}
.header{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #49494a;
    box-sizing: border-box;
    background-color: #d5d5d5;
}
.header ul{
    width: 1000px;
    height: 60px;
    list-style: none;
}
.header ul li{
    width: 200px;
    height: 60px;
    text-align: center;
    line-height:60px;
    font-weight:bold;
    font-size: 20px;
    background-color: #f02136;
    float: left;
}
.header ul li a{
    text-decoration: none;
    color: #4f4f4f;
}
.header ul li:hover{
    background-color: #abe3e5;
}
.content {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #49494a;
    box-sizing: border-box;
    background-color: #d5d5d5;
    overflow: hidden;
}
.footer{
    width: 1000px;
    height: 40px;
    line-height: 40px;;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}